* {
    margin: 0px;
    padding: 0px;
}

.container {
    background: url("Images/candyBG.png");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }  

.grid {
    height: 560px;
    width: 560px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 15px solid white;
}

.grid div {
    height: 70px;
    width: 70px;
}

#score {
    position: absolute;
    top: 9px;
    right: 675px;
    font-size: 39px;
    font-weight: bold;
    font-family: cursive;
}

h3 {
    position: absolute;
    top: 9px;
    right: 750px;
    font-size: 39px;
    font-weight: bold;
    font-family: cursive;
}
